
* {
    box-sizing: border-box;
  }

#header {
    background-color: gray;
    padding: 10px;
}

#column-left {
    float: left;
    padding: 10px;
    height: 100%;
    width: 30%;
    background-color: #bbb;
}

#column-right {
    float: left;
    padding: 10px;
    height: 100%;
    width: 35%;
    background-color: #ccc;
}

#column-center {
    float: left;
    padding: 10px;
    height: 100%;
    width: 35%;
    background-color: #bbb;
}


