
* {
    box-sizing: border-box;
  }

#header {
    background-color: gray;
    padding: 10px;
}

#column-1 {
    float: left;
    padding: 10px;
    height: 100%;
    width: 25%;
    background-color: #bbb;
}

#column-2 {
    float: left;
    padding: 10px;
    height: 100%;
    width: 20%;
    background-color: #bbb;
}

#column-3 {
    float: left;
    padding: 10px;
    height: 100%;
    width: 15%;
    /* text-align: center; */
    background-color: #bbb;
}

#column-4 {
    float: left;
    padding: 10px;
    height: 100%;
    width: 40%;
    /* text-align: center; */
    background-color: #bbb;
}


